/* singup*/

.singup-btn{
  color: white;
  background-color: #21B573;
  border-radius: 33px; 
  padding: 12px 28px;
  border: none;
  margin-left: 10px;
}
/*header*/
.header{
   padding-bottom: 5px;
   background-color: #F0FFF0;
   padding-bottom: 100px;
}
.Carsousel{
    background-color: #F0FFF0;
    padding-bottom: 50px;
    border-radius: 15px;
}
.navbar-nav{
    margin-right: 25px ;
}
.left-contain{
    padding-left: 200px;
    padding-right: 200px;
}
.header-fontsize{
    font-size: 40px;
    margin-bottom: 10%;
    margin-top: 10%;
}
.header-tag-color{
    color: #21B573;
}
.col-left{
    margin-left: 2%;
}
.getstarted-btn{
    color: white;
  background-color: #21B573;
  border-radius: 33px; 
  padding: 12px 40px;
  border: none;
  margin-left: 10px;
}
.right-col{
    padding-right: 150px;
}
