
body{
    font-family: 'Poppins', sans-serif;
     background-color: #FFFFFF;
}
.bar{
    background-color: #F0FFF0;
    padding-top: 1%;
}
.menu-area{
    padding-top: 20px;
}
.menu-content{
    background-color:#F0FFF0;
    margin-left: 1px;
}
.boby-area{
    padding: 100px 0;
}
.first-title{
    margin-bottom: 15px;
}
.second-title{
    font-size: 40px;
    line-height: 70px;
    color: #000000;
    font-weight: 700;

}
.second-title span{
    color: #21B573;
}
.title-img img{
    width: 100%;
}
.hero-text p{
    font-size: 14px;
}
.singup-btn{
    background-color: #2FA470;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 16px;
    transition: all .6s ease-in-out;
}
/*header*/
.header{
   padding-bottom: 5px;
   background-color: #F0FFF0;
   padding-bottom: 100px;
}
.Carsousel{
    background-color: #F0FFF0;
    padding-bottom: 50px;
    border-radius: 15px;
}
.hero_img img{
    width: 100%;
}
.navbar-nav{
    margin-right: 25px ;
}
.left-contain{
    padding-left: 30px;
}
.header-fontsize{
    font-size: 40px;
    margin-bottom: 10%;
    margin-top: 10%;
}
.header-tag-color{
    color: #21B573;
}
.col-left{
    margin-left: 2%;
}
.getstarted-btn{
  color: white;
  background-color: #21B573;
  border-radius: 33px; 
  padding: 12px 40px;
  border: none;
  margin-left: 10px;
}
.right-col{
    padding-right: 150px;
}
.single_box img{
    width: 80px;
    height: 83px;
}
.single_box{
    margin: 25px 0;
    background-color: #F0FFF0;
    border-radius: 16px;
    padding: 10px;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}
.single_box h5{
    padding-top: 20px;
    color: #413960;
}
.single_box p{
    color: #585859;
}
.single_box:hover{
    background-color:#F0FFF0;
    box-shadow: 10px 10px 40px #413960;
    border: none;
    overflow: hidden;
}
.container{
    margin-top: 5%;
    margin-bottom: 10%;
}
.online-class-header{
    text-align: center;
}
.online-class-header6{
    text-align: center;
    color: gray;
}
.online-first-row{
    margin-top: 5%;
}
.online-class-design0{
 text-align: center;
background-image: url("images/desing1.jpg");
 background-repeat: no-repeat;
 padding-top: 40px;
 padding-bottom: 80px;
 padding-left: 20px;
 border-radius: 10px;
 color:cyan;

}
.online-class-design0:hover{
    box-shadow: 10px 10px 40px #413960;
    border: none;
    overflow: hidden;
}
.online-class-design1{
 text-align: center;
background-image: url("images/bussines1.jpg");
 background-repeat: no-repeat;
 padding-top: 40px;
padding-bottom: 80px;
 border-radius: 10px;
 padding-left: 20px;
 color:blue;
}
.online-class-design1:hover{
  box-shadow: 10px 10px 40px #09084b;
    border: none;
    overflow: hidden;
}
.online-class-design2{
 text-align: center;
background-image: url("images/programming.jpg");
 background-repeat: no-repeat;
 padding-top: 40px;
 padding-bottom: 60px;
 border-radius: 10px;
 padding-left: 20px;
 color:lightcoral;
}
.online-class-design2:hover{
    box-shadow: 10px 10px 40px lightgreen;
    border: none;
    overflow: hidden;
}
.online-class-design3{
 text-align: center;
 background-image: url("images/coding.jpg");
 background-repeat: no-repeat;
 padding-top: 40px;
 padding-bottom: 85px;
 border-radius: 10px;
 padding-left: 20px;
 color:#2FA470;
}
.online-class-design3:hover{
    box-shadow: 10px 10px 40px #413960;
    border: none;
    overflow: hidden;
}
.online-class-design4{
 text-align: center;
background-image: url("images/photo.jpg");
 background-repeat: no-repeat;
 padding-top: 40px;
padding-bottom: 80px;
 border-radius: 10px;
 padding-left: 20px;
 color:lime;

}
.online-class-design5{
 text-align: center;
background-image: url("images/audio\ and\ music.jpg");
 background-repeat: no-repeat;
 padding-top: 40px;
padding-bottom: 80px;
 border-radius: 10px;
 padding-left: 30px;
 color:#21B573;

}
.online-class-design6{
 text-align: center;
background-image: url("images/marking.jpg");
 background-repeat: no-repeat;
 padding-top: 40px;
 padding-bottom: 80px;
 border-radius: 10px;
 padding-left: 20px;
 color:#F0FFF0;
}
.online-class-design7{
 text-align: center;
background-image: url("images/web.jpg");
 background-repeat: no-repeat;
 padding-top: 40px;
 padding-bottom: 85px;
 border-radius: 10px;
 padding-left: 20px;
 color:purple;
}
.online-class-design4:hover{
     box-shadow: 10px 10px 40px #413960;
    border: none;
    overflow: hidden;
}
.online-class-design5:hover{
     box-shadow: 10px 10px 40px orange;
    border: none;
    overflow: hidden;
}
.online-class-design6:hover{
   box-shadow: 10px 10px 40px #413960;
    border: none;
    overflow: hidden;
}
.online-class-design7:hover{
   box-shadow: 10px 10px 40px #413960;
    border: none;
    overflow: hidden;
}

.visit-more-coures{
 text-decoration: none;
 text-align: center;
 border-radius: 33px; 
 padding: 12px 28px;
  margin-left: 10px;
}
.card-deck{
    margin-top: 55px;
}
.signup_btn-3{
    background-color: #2FA470;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 16px;
    transition: all .6s ease-in-out;
}
.signup_btn-3:hover{
    background-color: #666666;
}
.section_padding{
    padding: 100px 0 0 0;
}
.card_content{
    border-radius: 15px;
    background: white;
    box-shadow: 10px 10px 40px #ddd;
    border: none;
    overflow: hidden;
    padding:20px;
}
.card_text{
    padding: 15px 0;
}
.card_text h5{
    font-weight: 500;
    color: #413960;
}
.card_text{
    color: #585859;
}
.card_icon span{
    padding: 20px 0 10px 0;
    font-size: 16px;
    color: #585859;
}
.online-courses2{
    color: #413960;
    margin-bottom: 30px;
}
.visit-more-courses{
    text-align: center;
    margin-top: 45px;
    color: blue;
    padding: 12px 30px;
    border-radius: 24px;
    background-color: white;
    border: rgb(214, 212, 209);
}
.visit-more-courses:hover{
  border: none;
  background-color:blue;
  color: #F0FFF0;
}
.testimonial-img img{
      width: 120px;
      height: 120px;
     vertical-align: middle;
    padding-left: 10px;
   
}
.textiimoial-text{
   margin-top: 15px;
   color: gray;
}
.description{
     background-color: #282531;
     color: #ffffff;
}
.description-content{
    margin: 70px 0;
}
.description-content p{
    font-size: 11px;
    line-height: 40px;
}
.description-content ul li{
    list-style: none;
    font-size: 15px;
    line-height: 40px;

}
footer{
    margin-top: 0px;
    text-align:center;
    color:white;
    font-size: 20px;
}